body{
    background-color: #C5E0B4;
}

.titulo{
    margin-top: -22px;
    margin-left: 15px;
}

.titulo h2 {
    font-family: 'Calibri', 'sans-serif';
    color: white;
    font-size: 50px;
}


.usuario{
    display: flex;
    background-color: #B4C7E7;
    height: 50px;
    width: 130px;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 86%;
    top: 3%;
}

.salida{
    display: flex;
    background-color: #B4C7E7;
    height: 50px;
    width: 50px;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 3%;
    left: 96%;
}

.usuario a{
    font-family: 'Calibri', 'sans-serif';
    color: white;
    position: absolute;
    left: 36%;
}
.usuario i{
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    left: 10%;

}

.salida i{
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    left: 10%;
}

nav{
    padding: 15px;
    background-color: #B4C7E7;
    border-radius: 10px;
    width: 100px;
    margin-left: 11px;
}

nav > a{
    text-decoration: none;
    font-size: 21px;
    padding: 20px;
    font-family: 'Calibri', 'sans-serif';
    color: rgba(255, 255, 255, 0.933);
    display: inline-block;
}

.barra{
    border: 0px;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    font-family: 'Calibri', 'sans-serif';
    margin-left: 370px;
    margin-top: 20px;
}

.barrad i{
    color: #ffffff;
    margin-left: 10px;
    font-size: 18px;
}

.titulob{
    font-family: 'Calibri', 'sans-serif';
    color: white;
    font-size: 20px;
    margin-left: 68px;
    margin-top: -28px;
}

.etiqueta{
    font-family: 'Calibri', 'sans-serif';
    color: white;
    font-size: 20px;
    position: absolute;
    left: 45%;
    top: 49%;
}

fieldset{
    font-family: 'Calibri', 'sans-serif';
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 90px;
    height: 170px;
    width: 790px;
    border-radius: 20px  ;
    margin-left: 260px;
}

table{
    background-color: #B4C7E7;
    font-family: 'Calibri', 'sans-serif';
    color: white;
    height: 150px;
    width: 800px;
    border-radius: 20px;
    margin: 100px;
    margin-top: -255px;
    margin-left: 270px;
}


footer{
    height: 80px;
    width: 100%;
    background-color: #B4C7E7;
    padding-top: 10px;
    border-radius: 20px;
}

footer h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Calibri', 'sans-serif';
    color: white;
    font-size: 25px;
}

