body{
    background-color: #C5E0B4;
}

.titulo{
    margin-top: -22px;
    margin-left: 15px;
}

.titulo h2 {
    font-family: 'Calibri', 'sans-serif';
    color: white;
    font-size: 50px;
}

nav{
    padding: 15px;
    background-color: #B4C7E7;
    border-radius: 10px;
    width: 100px;
    margin-left: 11px;
}

nav > a{
    text-decoration: none;
    font-size: 21px;
    padding: 20px;
    font-family: 'Calibri', 'sans-serif';
    color: rgba(255, 255, 255, 0.933);
    display: inline-block;
}

#icone{

    margin-left: 10px
}

.usuario{
    display: flex;
    background-color: #B4C7E7;
    height: 50px;
    width: 130px;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 86%;
    top: 3%;
}

.salida{
    display: flex;
    background-color: #B4C7E7;
    height: 50px;
    width: 50px;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 3%;
    left: 96%;
}

.usuario a{
    font-family: 'Calibri', 'sans-serif';
    color: white;
    position: absolute;
    left: 36%;
}
.usuario i{
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    left: 10%;

}

.salida i{
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    left: 10%;
}

.block{
    display: grid;
    grid-template-columns:repeat(3,300px);
    margin: 180px;
    margin-left: 300px;
    height: 300px;
    width: 300px;
}

.block a{
    color: white;
    font-family: 'Calibri', 'sans-serif';
    font-size: 26px;
    margin-left: 20px;
}

.block i{
    color: white;
    font-size: 100px;
    margin-top: 20px;
    margin-left: 50px;
}

.log{
    margin-left: 90px;
}

#libro{
    position: absolute;
    top: 66%;
}

.caja1{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: #B4C7E7;
    position: absolute;
}

.caja2{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: #B4C7E7;
    margin-left: 600px;
    display: flex;
}

.caja3{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: #B4C7E7;
}








footer{
    height: 80px;
    width: 100%;
    background-color: #B4C7E7;
    padding-top: 10px;
    border-radius: 20px;
}

footer h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Calibri', 'sans-serif';
    color: white;
    font-size: 25px;
}